<mat-card>
  @if (!isLoading) {
    <form [formGroup]="form" (submit)="onSavePost()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          name="title"
          [formControlName]="'title'"
          [placeholder]="'Enter title'"
          type="text">
        <mat-error *ngIf="form.get('title')?.invalid">{{ 'Enter a post title' }}</mat-error>
      </mat-form-field>
      <input type="file" #filePicker>
      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea
          matInput
          [placeholder]="'Enter content'"
          [formControlName]="'content'"
          rows="4"
          name="content"
        ></textarea>
        <mat-error *ngIf="form.get('content')?.invalid">{{ 'Enter a post content' }}</mat-error>
      </mat-form-field>
      <div class="btnGroup">
        <button
          mat-raised-button
          color="accent"
          [disabled]="false"
          type="submit"
        >Save Post
        </button>
        <button
          mat-fab
          color="primary"
          aria-label="Upload Image"
          (click)="filePicker.click()"
        >
          <mat-icon>upload</mat-icon>
        </button>
      </div>
    </form>
  } @else {
    <mat-spinner></mat-spinner>
  }

</mat-card>
