<mat-card>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      [(ngModel)]="enteredTitle"
      [placeholder]="'Enter title'"
      type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <textarea
      matInput
      [placeholder]="'Enter content'"
      [(ngModel)]="enteredContent"
    ></textarea>
  </mat-form-field>
<button
  mat-raised-button
  color="accent"
  (click)="onAddPost()">Save Post</button>
</mat-card>



<p>{{newPost}}</p>
