main{
  width: 80%;
  margin: auto;
}



// REUSABLE CLASSES
.mt-1-custom{
  margin-top: 1rem;
}

.mb-1-custom{
  margin-bottom: 1rem;
}

.mt-2-custom{
  margin-top: 2rem;
}

.mb-2-custom{
  margin-bottom: 2rem;
}
